<h3 class="mb-3">Crear jugadores</h3>
<form [formGroup]="jugadorForm" (ngSubmit)="crearJugador(jugadorForm)">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
            aria-describedby="basic-addon1" formControlName="nombre"
            [class.input-error]="this.jugadorForm.get('nombre')?.touched"
            [class.input-ok]="this.jugadorForm.get('nombre')?.valid">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Apodo" aria-label="Apodo"
            aria-describedby="basic-addon1" formControlName="apodo"
            [class.input-error]="this.jugadorForm.get('apodo')?.touched"
            [class.input-ok]="this.jugadorForm.get('apodo')?.valid">
    </div>
    <label for="habilidades" class="mb-3">Posicion: "Soy crack..."</label>
    <select class="form-select form-select mb-3" aria-label="Small select example" formControlName="posicion1"
        [class.input-error]="this.jugadorForm.get('posicion1')?.touched"
        [class.input-ok]="this.jugadorForm.get('posicion1')?.valid">
        <option value="" disabled selected>Elegir...</option>
        <option value="Arquero">Arquero</option>
        <option value="Defensor">Defensor</option>
        <option value="Mediocampista">Mediocampista</option>
        <option value="Delantero">Delantero</option>
    </select>    
    <label for="habilidades" class="mb-3">Posicion: "Me defiendo..."</label>
    <select class="form-select form-select mb-3" aria-label="Small select example" formControlName="posicion2"
    [class.input-error]="this.jugadorForm.get('posicion2')?.touched"
    [class.input-ok]="this.jugadorForm.get('posicion2')?.valid">
        <option value="" disabled selected>Elegir...</option>
        <option value="Arquero">Arquero</option>
        <option value="Defensor">Defensor</option>
        <option value="Mediocampista">Mediocampista</option>
        <option value="Delantero">Delantero</option>
    </select>
    <h6>Habilidades</h6>
    <label for="habilidades" class="mb-3">Tiro</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="tiro"
        [class.input-error]="this.jugadorForm.get('tiro')?.touched"
        [class.input-ok]="this.jugadorForm.get('tiro')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Remate</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="remate"
        [class.input-error]="this.jugadorForm.get('remate')?.touched"
        [class.input-ok]="this.jugadorForm.get('remate')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Defensa</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="defensa"
        [class.input-error]="this.jugadorForm.get('defensa')?.touched"
        [class.input-ok]="this.jugadorForm.get('defensa')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Velocidad</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="velocidad"
        [class.input-error]="this.jugadorForm.get('velocidad')?.touched"
        [class.input-ok]="this.jugadorForm.get('velocidad')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Gambeta</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="gambeta"
        [class.input-error]="this.jugadorForm.get('gambeta')?.touched"
        [class.input-ok]="this.jugadorForm.get('gambeta')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Fisico</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="fisico"
    [class.input-error]="this.jugadorForm.get('fisico')?.touched"
    [class.input-ok]="this.jugadorForm.get('fisico')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Tecnica</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="tecnica"
        [class.input-error]="this.jugadorForm.get('tecnica')?.touched"
        [class.input-ok]="this.jugadorForm.get('tecnica')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Rusticidad</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="rusticidad"
        [class.input-error]="this.jugadorForm.get('rusticidad')?.touched"
        [class.input-ok]="this.jugadorForm.get('rusticidad')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Temperamento</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="temperamento"
        [class.input-error]="this.jugadorForm.get('temperamento')?.touched"
        [class.input-ok]="this.jugadorForm.get('temperamento')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <label for="habilidades" class="mb-3">Lesiones</label>
    <select class="form-select form-select-sm mb-3" aria-label="Small select example" formControlName="lesiones"
        [class.input-error]="this.jugadorForm.get('lesiones')?.touched"
        [class.input-ok]="this.jugadorForm.get('lesiones')?.valid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <div class="input-group mb-3">
        <input type="file" class="form-control" placeholder="Img..." aria-label="Img"
            aria-describedby="basic-addon2" formControlName="img_url">
    </div>
    <button class="btn btn-info mb-3" style="width: 100%;" [disabled]="jugadorForm.invalid" type="submit">Guardar</button>
</form>